<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Complaint treated</title>
</head>
<body>
<h2>Hello dear client {{user}}</h2>
<p>We're glad to have you on board at {{company}}. </p>
<p>This is an email to inform you that your complaint has been treated successfully </p>
</body>
</html>
